<?xml version="1.0" encoding="utf-8" ?>
 
<log4net>
  <appender name="JsonFileAppender" type="log4net.Appender.FileAppender,log4net">
    <file value="C://Log//log.json" />
    <layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core" ></layout>
  </appender>
 
  <appender name="SqlServerAppender" type="MicroKnights.Logging.AdoNetAppender, MicroKnights.Log4NetAdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient, Version=1.0.0.0,Culture=neutral,PublicKeyToken=23ec7fc2d6eaa4a5"/>
    <connectionString value="Data Source=(localdb)\mssqllocaldb;Initial Catalog=BtkDukkan;Integrated Security=true;" />
    <commandText value="INSERT INTO Logs ([Detail],[Date],[Audit]) VALUES (@logDetail,@log_date,@audit)" />
 
    <parameter>
      <parameterName value="@logDetail" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core" />
    </parameter>
 
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.PatternLayout" value="%date{dd'-'MM'-'yyyy HH':'mm':'ss'.'fff}" />
    </parameter>
 
    <parameter>
      <parameterName value="@audit" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout" value="%level" />
    </parameter>
  </appender>
 
  <logger name="JsonFileLogger">
    <level value="All" />
    <appender-ref ref="JsonFileAppender" />
  </logger>
 
  <logger name="DatabaseLogger">
    <level value="All" />
    <appender-ref ref="SqlServerAppender" />
  </logger>
</log4net>